<p>Здравствуйте {{ name }},</p>
<p>Пожалуйста перейдите по ссылке для восстановления пароля</p>
<p>
    <a href="{{ url }}">Восстановить пароль</a>
</p>

<p>Если вы не делали запрос на восстановление пароля в системе, пожалуйста проигнорируйте это письмо.</p>